
/categoria-1/
/categoria-2/
/categoria-3/
/categoria-4/
/docs/
/pitch/


*.apk
*.aab
.gradle/
build/
local.properties
/.idea/


node_modules/
.expo/


__pycache__/
.venv/
venv/
*.pyc


.DS_Store
Thumbs.db


.env
